<form [formGroup]="form">
  <div fxLayout="row">
    <mat-form-field>
      <mat-label>Ingrediens</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field class="narrow">
      <mat-label>Mängd</mat-label>
      <input matInput formControlName="quantity">
    </mat-form-field>
    <mat-form-field class="narrow">
      <mat-label>Enhet</mat-label>
      <mat-select formControlName="unit">
        <mat-option *ngFor="let unit of units" [value]="unit.value">
          {{unit.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-button (click)="this.dialogRef.close()">Avbryt</button>
      <button *ngIf="!editMode" mat-button (click)="add()">Lägg till</button>
      <button *ngIf="editMode" mat-button (click)="edit()">Redigera</button>
  </div>
</form>