[Unit]
Description=KeyCloak service

[Service]
ExecStart=/pi/home/keycloak-deploy-folder/keycloak-18.0.0/bin/kc.sh
User=pi

[Install]
WantedBy=multi-user.target
