/* You can add global styles to this file, and also import other style files */
@import "./material-custom-theme.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.scss";

* {
  font-family: "Helvetica";
}

html {
  word-wrap: break-word;
}

.narrow {
  max-width: 5rem;
  min-width: 2rem;
  display: inline-block;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left !important;
}

.bg {
  background-color: $dark;
}

.content {
  margin-top: 3em;
}

.centered {
  margin: 0 auto;
  float: none;
}

.align-right {
  float: right;
}

.btn-search {
  background-color: $gray-900;
  border-color: $gray-700;
}

.form-control,
.form-control:active,
.form-control:focus,
.form-control:focus:active {
  background-color: $gray-800 !important;
  border-color: $gray-700;
  color: white;
}


h1,
h2 {
  padding-top: 1em;
}

//.mat-form-field {
//  width: 100%;
//}

.content {
  margin-bottom: 1rem;
}

a {
  color: white;
}

a:hover {
  color: #f87543;
}

.error-message {
  margin: 1em;
}
