logging.file.name: /var/log/app/recipes-api.log

spring:
  profiles:
    active: prod
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://authenticate.recept.ax/realms/recipe-book
          jwk-set-uri: https://authenticate.recept.ax/realms/recipe-book/protocol/openid-connect/certs
server.port: 8555
