<div class="content">
    <div class="col-md-4">
        <button class="btn-search input-group-text btn-dark" routerLink="/">Tillbaka</button>

        <h1 class="mat-h1">Nytt recept</h1>
        <mat-form-field >
            <mat-label>Receptets namn</mat-label>
            <input matInput>
        </mat-form-field>

        <div class="box">
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
                <mat-list-item roke="listitem">
                    <mat-form-field>
                        <mat-label>Lägg till ingrediens</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="narrow">
                        <mat-label>Mängd</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="narrow">
                        <mat-label>Enhet</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let unit of units" [value]="unit.value">
                            {{unit.display}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </mat-list-item>
            </mat-list>
        </div>

        <mat-form-field >
            <mat-label>Instruktioner</mat-label>
            <textarea cdkTextareaAutosize matInput placeholder=""></textarea>
        </mat-form-field>

    </div>

    <button class="ms-auto btn-search input-group-text btn-dark" routerLink="/">Spara nytt recept</button>

</div>