<app-search-bar [immediateSearch]="false"></app-search-bar>

<div class="content">

    <div *ngIf="loading">
        <app-spinner></app-spinner>
    </div>

    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
        <button mat-stroked-button routerLink="/">Tillbaka</button>
        <div class="col-md-4 centered">

            <h1 class="mat-h1">Nytt recept</h1>

            <app-recipe-name-input [form]="form"></app-recipe-name-input>
            <app-servings-input [form]="form"></app-servings-input>
            <app-recipe-ingredients-input [ingredients]="ingredients"></app-recipe-ingredients-input>
            <app-recipe-instructions-input [form]="form"></app-recipe-instructions-input>

        </div>
        <div class="align-right">
            <label for="save" class="error-message" *ngIf="errorMessage">{{errorMessage}}</label>
            <button mat-stroked-button type="submit">Spara nytt recept</button>
        </div>
    </form>
</div>