.input-heading {
    color: rgba(255, 255, 255, 0.7);
}

ul {
    padding-left: 0 !important;
}

li {
    list-style-type: none;
}

.right-align {
    margin-left: auto; 
    margin-right: 0;
}

a:hover {
    color: #f44336;
}
