[Unit]
Description=Recipes API service

[Service]
ExecStart=/home/pi/.sdkman/candidates/java/current/bin/java -jar /home/pi/server/recipes-api.jar
User=pi

[Install]
WantedBy=multi-user.target
