<div class="content">

    <button class="btn-search input-group-text btn-dark" routerLink="/">Tillbaka</button>

    <h1>{{recipe.name}}</h1>
    <p>Författare: Emanuel Donalds</p>

    <h2>Ingredienser</h2>

    <div class="ingredients">
        <div class="list col-md-4">
            <ul role="list">
                <li *ngFor="let ingredient of recipe.ingredients" class="li mat-h3" role="listitem">
                    <span fxLayout="row">
                        <div>
                            {{ingredient.name}}
                        </div>
                        <div class="right-align" fxLayout="row">
                            <span class="narrow" style="margin-right: 0.5rem;">{{ingredient?.quantity?.value}}</span>
                            <span class="narrow">{{ingredient?.quantity?.unit}}</span>
                        </div>
                    </span>
                </li>

            </ul>
        </div>
    </div>

    <h2>Instruktioner</h2>
    <div innerText="{{recipe.instructions}}"></div>
</div>