[Unit]
Description=Recipes API service

[Service]
ExecStart=/home/recipes/.sdkman/candidates/java/current/bin/java -jar -Dspring.profiles.active=prod /home/recipes/deployments/recipes-api/recipes-api.jar
User=recipes

[Install]
WantedBy=multi-user.target
