[Unit]
Description=Recipes front-end service

[Service]
ExecStart=/usr/local/bin/node /home/recipes/artefacts/recipes-frontend/app.js
User=recipes

[Install]
WantedBy=multi-user.target
