[Unit]
Description=Recipes front-end service

[Service]
ExecStart=node /home/pi/recipes-frontend-server/app.js
User=pi

[Install]
WantedBy=multi-user.target
