<div class="user text-right">

    <div *ngIf="isLoggedIn">
    
        <button mat-button [matMenuTriggerFor]="menu">{{username}} <i class="bi bi-chevron-down"></i></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Profil</button>
            <button mat-menu-item (click)="onLogout()">Logga ut</button>
        </mat-menu>
    
    </div>

    <div *ngIf="!isLoggedIn">
        <button mat-button>Skapa konto</button>
        <button mat-stroked-button color="primary" (click)="onLogin()">Logga in</button>
    </div>
</div>