.ingredients {
    padding-top: 1rem;
}

ul {
    padding-left: 0 !important;
}

li {
    list-style-type: none;
    margin: 0 !important;
}

.list {
    margin-top: 0.5rem;
}

.right-align {
    margin-left: auto; 
    margin-right: 0;
}

.add-ingredient {
    font-weight: normal;
    text-decoration: underline;
}

.handle {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.placeholder {
    min-height: 36px;
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  /* Animate an item that has been dropped. */
  .cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
  }