<div class="ingredients">
    <span class="input-heading mat-h3">Ingredienser</span>
    <div class="list">
        <ul cdkDropList (cdkDropListDropped)="drop($event)" role="list">
            <li cdkDrag dragRefConfig="dragConfig" cdkDragLockAxis="y" *ngFor="let ingredient of ingredients" class="li mat-h3" role="listitem">
                <a class="list-button w-100" (click)="openEditDialog(ingredient)">
                    <span fxLayout="row" style="margin-left: 0.5rem;">
                        {{ingredient.name}}
                        <div class="right-align">
                            <span class="narrow text-right"
                                style="margin-right: 0.5rem;">{{ingredient?.quantity?.value}}</span>
                            <span class="narrow text-left">{{ingredient?.quantity?.unit}}</span>
                        </div>
                        <div cdkDragHandle style="margin-left: 1rem;"  class=""><i class="bi bi-arrow-down-up"></i></div>
                    </span>
                </a>
                <div class="placeholder" *cdkDragPlaceholder></div>
            </li>
            <li role="li" role="listitem">
                <a mat-button style="text-align:left" class="w-100 add-ingredient" (click)="openCreateDialog()">Lägg
                    till ingrediens</a>
            </li>
        </ul>
    </div>
</div>
