<app-search-bar [immediateSearch]="false"></app-search-bar>

<div class="content">
    <button mat-stroked-button routerLink="/">Tillbaka</button>

    <div class="user-info col-md-6">
        <div class="user-info-inner">
            <h1>{{username}}</h1>
            <hr>
            <h5>{{firstName}} {{lastName}}</h5>
            <h5>{{email}}</h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="align-right">
                        <button mat-stroked-button (click)="onEdit()">Redigera</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>