<app-search-bar [immediateSearch]="false"></app-search-bar>

<div class="content">
    <div class="row">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <button class="btn-search input-group-text btn-dark" routerLink="/">Tillbaka</button>
        </div>
    </div>

    <div class="user-info col-md-6">
        <div class="user-info-inner">
            <h1>{{username}}</h1>
            <hr>
            <h5>{{firstName}} {{lastName}}</h5>
            <h5>{{email}}</h5>
            <button class="btn-search input-group-text btn-dark ms-auto" (click)="onEdit()">Redigera</button>
        </div>
    </div>
</div>